/backend/.idea
/backend/.mvn
/backend/target
/backend/.env
/backend/src/main/resources/application.properties
/backend/src/main/resources/*.json
/*.zip
/backend/src/main/resources/mr_met_service_account.json
